*{
    padding: 0;
    margin: 0;
    border: none;
}
.container{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 70px 150px 0 150px;
}
.title{
    gap: 15px;
}
.title img{
    width: 30px;
    height: 30px;
}
.dividing-line{
    background: #FF9B92;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin: 40px 0;
}
.totalUser{
    margin: 40px 0 0;
    font-size: 18px;
}
.change-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}
.change-btn button{
    padding:2px 7px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.search1{
    display: flex;
    background: white;
    padding: 5px;
    border-radius: 20px;
}
.title,
.searching,
.dividing-line{
    display: flex;
    align-items: center;
}
.searching button{
    background-color: transparent;
}
.searching button img{
    width: 15px;
    height: 15px;
}
.searchKey input {
    outline: none;
}
/*테이블 css*/

.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 8px;
    text-align: center;
}
.table td{
    border-bottom: 1px solid #ccc;
}
.table th{
    background-color: #FFE3E0;
}
.table td a,
nav li a{
    text-decoration: none;
    color: black;
}
.table td a:hover,
nav li a:hover{
    text-decoration: underline;
}
.table tbody tr:hover {
    background-color: #e0e0e0;
}
.table .th-title1{
    width: 50px;
}
.date{
    font-size: 13px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
nav{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}
nav a img{
    width: 15px;
    height: 15px;
    margin-top: 5px
}
.btn{
    background: #FF9B92;
    color: white;
    padding: 8px;
    margin-right: 20px;
    border-radius: 15px;
    text-decoration: none;
}