*{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-size: 14px;
}
.main-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 30px 0;

}
.logo{
    display: flex;
    position: relative;
}
.logo img {
    position: relative;
    top: 10px;
    width: 100px;
    height: 80px;
}
.logo h1{
    display: flex;
    align-items: center;
}
.logo span{
    color: #FF695B;
}
.search{
    display: flex;
    align-items: center;
    border: 1px solid #BDBDBD;
    border-radius: 30px;
    margin-right: 120px;
}
.search input{
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}
.search input:focus{
    outline: none;
}
.search a img{
    width: 20px;
    height: 20px;
    padding-right:10px;
}
#informationClick{
    background-color: transparent;
}
#informationClick img{
    width:30px;
    height:30px;
    padding-left: 25px;
}
.nav{
    border: 5px solid #FFBAB3;
}
.nav ul{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 350px;
}
.nav li{
    display: flex;
    list-style: none;
    font-size: 20px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 150px;
    font-size: 25px;
    background-color: #FFFCEF;
}
.banner p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 15px;
}
.banner img{
    width:400px;
    height:400px;
}