<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board</title>
    <!-- header 에서 사용된 파일 -->
    <link rel="stylesheet" th:href="@{/css/mainScreen.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{/js/modal.js}"></script>
    <link rel="stylesheet" href="../static/css/bulletinboard.css">
</head>

<body>

<!-- Header Fragment 포함 -->
<div th:replace="header :: headerFragment"></div>
<!-- 모달창 Fragment 포함 -->
<div th:replace="header :: modalFragment"></div>

<div class="container">
    <div class="title">
        <img src="../static/Img/img_8.png" alt="">
        <h2 class="title1" th:text="#{}">일반게시판</h2>

    </div>
    <!--구분선 & 검색란 시작-->
    <section class="dividing-line">
        <div class="search1">
        <label>
            <select class="choice" name="searchType">
                <option value="title">제목</option>
                <option value="author">작성자</option>
            </select>
        </label>
        <!-- 검색부분-->
        <form class="searching" action="">
        <label class="searchKey"><input th:text="" name="searchKey" alt=""></label>
        <button type="submit"><img src="../static/Img/img_9.png" alt=""></button>
        </form>
        </div>
    </section>
    <!--구분선 & 검색란 완료-->
    <!--게시글 리스트 목록 부분 -->
    <table class="table">
        <thead>
            <tr>
                <th class="th-title1" th:text="#{}">번호</th>
                <th class="th-title2" th:text="#{}">제목</th>
                <th class="th-title3" th:text="#{}">작성자</th>
                <th class="th-title4" th:text="#{}">날짜</th>
                <th class="th-title5" th:text="#{}">조회수</th>
                <th class="th-title6" th:text="#{}">추천</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${list.boardIdx}">번호</td>
                <td th:text="${list.title}"><a th:href="">제목</a></td>
                <td th:text="">작성자</td>
                <td class="date" th:text="${#temporals.format(list.createdDatetime,
                        'yyyy-MM-dd HH:mm::ss')}">yyyy-MM-dd HH:mm::ss</td>
                <td th:text="">조회수</td>
                <td th:text="">추천</td>
            </tr>
        </tbody>
    </table>
    <!--게시글 리스트 목록 부분 -->
    <div class="bottom">
    <!--페이징 부분-->
        <nav>
            <ul>
                <li>
                    <a th:href=""><img src="../static/Img/img_10.png" alt=""></a>
                </li>
                <li>
                    <a th:href=""><img src="../static/Img/img_11.png" alt=""></a>
                </li>
                <li><a th:href="">1</a></li>
                <li><a th:href="">2</a></li>
                <li><a th:href="">3</a></li>
                <li><a th:href="">4</a></li>
                <li><a th:href="" >5</a></li>
                <li>
                    <a th:href=""><img src="../static/Img/img_12.png" alt=""></a>
                </li>
                <li>
                    <a th:href=""><img src="../static/Img/img_13.png" alt=""></a>
                </li>
            </ul>
        </nav>
    <!--페이징 부분-->
    <!--글 작성 버튼 부분-->
        <div class="btn-right">
            <button class="btn" th:href="" th:text="#{}">글작성</button>
        </div>
    </div>
</div>
</body>
</html>