<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail page</title>
    <!-- header 에서 사용된 파일 -->
    <link rel="stylesheet" th:href="@{/css/mainScreen.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/detailCommon.js}"></script>
    <!-- detail page 에서 사용할 추가 파일 -->
    <link rel="stylesheet" th:href="@{/css/detailpage.css}">
</head>
<body>

<!-- Header Fragment 포함 -->
<div th:replace="header :: headerFragment"></div>

<!-- 모달창 Fragment 포함 -->
<div th:replace="header :: modalFragment"></div>

<div class="detail-write">
    <!--게시판 위치 타임리프&데이터 필요 -->
    <p class="path">일반게시판</p>

    <div class="content">
        <table class="table">
            <tbody>
            <tr class="table1">
                <th>제목</th>
                <td colspan="11" th:text="${article.title}">타이틀</td>
            </tr>
            <tr class="table2">
                <th class="th2">닉네임</th>
                <td class="data2" th:text="${article.user.nickname}">닉네임</td>

                <th class="th3">추천</th>
                <td class="data3" th:text="${articleLike}">추천수</td>

                <th class="th4">댓글</th>
                <td class="data4" th:text="${commentCount}">댓글수</td>

                <th class="th5">조회수</th>
                <td class="data5" th:text="${article.views}">조회수</td>

                <th class="th6">작성일</th>
                <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</td>

                <th class="th7">수정시간</th>
                <td th:text="${#temporals.format(article.updatedAt, 'yyyy-MM-dd HH:mm')}">수정 시간</td>
            </tr>
            </tbody>
        </table>
        <div class="editor">
            <p th:utext="${article.content}" value="기본값"></p>
        </div>
        <form class="btn">
            <button class="btn1">추천</button>
        </form>
        <div class="comments-title">
            <div class="comments-img">
                <img th:src="@{/Img/img_16.png}" alt="">
                <p>댓글</p>
            </div>
            <div class="btn2">
                <a th:href="@{/editArticleBulletin(articleId=${article.articleId})}">
                    <button><img th:src="@{/Img/img_17.png}" alt=""> 글 수정</button>
                </a>
                <a th:href="@{/newArticleBulletin}">
                    <button><img th:src="@{/Img/img_17.png}" alt="">글 쓰기</button>
                </a>

                <a th:href="@{/deleteArticleCommon(articleId=${article.articleId})}">
                    <button><img th:src="@{/Img/img_17.png}" alt="">글 삭제</button>
                </a>
            </div>
        </div>
        <div>
            <div class="comment" th:if="${comments.size()} != 0">
                <div class="comment2" th:each="comment : ${comments}">
                    <p class="user-nickname"  th:text="${comment.user.nickname}"></p>
                    <label><input type="checkbox" th:checked="${comment.anonymous}" disabled>익명 체크</label>
                    <!--날짜 입력-->
                    <label><input th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></label>
                    <p class="comment3" th:text="${comment.body}" th:id="'comment-' + ${comment.commentCommonId}"></p>
                    <button type="button" th:attr="commentId=${comment.commentCommonId}" class="deleteCommentBtn">삭제</button>
                </div>
                <!--댓글내용 데이터 -->
            </div>
        <!--페이징 부분 시작-->
        <div class="bottom">
            <nav>
                <ul>
                    <li>
                        <a><img th:src="@{/Img/img_10.png}" alt=""></a>
                    </li>
                    <li>
                        <a><img th:src="@{/Img/img_10.png}" alt=""></a>
                    </li>
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li>
                        <a><img th:src="@{/Img/img_12.png}" alt=""></a>
                    </li>
                    <li>
                        <a><img th:src="@{/Img/img_13.png}" alt=""></a>
                    </li>
                </ul>
            </nav>
            <!--페이징 부분 완료-->
        </div>
            <form id="commentCommonForm" class="write-comments" th:action="@{/api/comment/common/{articleId}(articleId=${article.articleId})}" th:method="post">


            <div class="write-comment">
                    <p>댓글 작성</p>
                    <div class="checkbox">
                        <label><input type="checkbox" name="anonymous">익명 체크</label>
                        <button class="btn2" type="submit">댓글 등록</button>
                    </div>
                </div>
                <div class="write-comment2">
                    <label for="text-box"></label>
                    <textarea class="form-control"  name="body" id="text-box" placeholder="정치 · 잡담 · 혐오 글/ 댓글 작성하지 마세요.마음이 아파요 ..ㅜ" rows="3"
                              required></textarea>
                </div>
            </form>

        <div class="btn-up">
            <button id="to-top" onclick="window.scrollTo(0, 0);">
                <img th:src="@{/Img/img_18.png}" alt=""></button>
        </div>
    </div>
</div>
</div>
</body>
</html>