<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" th:href="@{/css/mainScreen.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{/js/modal.js}"></script>
</head>
<body>
<header th:fragment="headerFragment">
    <!-- title 시작 -->
    <section class="main-search">
        <a th:href="@{/mainScreen}" class="logo">
            <img id="logo1" th:src="@{/Img/img.png}" width="100" height="80" alt="">
            <h1><span>1</span>인분이요~</h1>
        </a>
        <div class="search">
            <label>
                <input type="text" class="" placeholder="어떤 가게가 혼밥이 가능할까?">
            </label>
            <a><img th:src="@{/Img/img_4.png}" alt=""></a>
        </div>
        <button id="informationClick"><img th:src="@{/Img/img_5.png}" alt=""></button>
    </section>
    <!-- title 완료 -->
    <!-- nav 시작 -->
    <section class="nav">
        <ul>

            <li><a th:href="@{/bulletinboard}">일반게시판</a></li>
            <li><a th:href="@{/review-board}">리뷰게시판</a></li>
            <li><a>VIP</a></li>


        </ul>
    </section>
    <!-- nav 완료 -->
</header>
<!--모달창 시작-->
<div id="modal" class="hidden" th:fragment="modalFragment">
    <article class="backGround">
        <!--로그아웃 부분 -->
        <span class="logout-link" onclick="location.href='/logout'">로그아웃</span>
        <div class="information1">
            <!-- 지정된 회원등급의 이미지 불러오기 -->
            <img th:if="${user.author == 1}" th:src="@{/img/img_20.png}" alt="쌀밥" class="modal_screen"/>
            <img th:if="${user.author == 2}" th:src="@{/img/img_21.png}" alt="간장계란밥" class="modal_screen"/>
            <img th:if="${user.author == 3}" th:src="@{/img/img_22.png}" alt="오므라이스" class="modal_screen"/>
            <img th:if="${user.author == 4}" th:src="@{/img/img_23.png}" alt="수저" class="modal_screen"/>

            <div class="user-price">
                <!--  사용자입력값 불러오기-->
                <p class="user-info" th:text="${user.userId}">사용자아이디</p>
                <p class="user-info" th:text="${user.nickname}">사용자닉네임</p>
            </div>

        </div>
        <div class="page-link">
            <!--계정 관리 페이지로 이동-->
            <span onclick="location.href='/myInformation'">계정관리</span>
            <!--운영자 라는 회원등급만 표시-->
            <span th:if="${user.author == 4}" onclick="location.href='/adminPage'"> 운영자 페이지</span>
        </div>
        <div>
            <button id="btn_close_modal">닫기</button>
        </div>
    </article>
</div>
<!--모달창 완료-->
</body>
</html>