<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/login.css">
    <!-- <link th:href="@{/css/login.css}" rel="stylesheet">-->
    <script src="../static/js/login.js"></script>
    <title>Login</title>

</head>

<body>
<main id="login-wrapper">
    <div class="logo">
      <a th:href="@{/}"><img src="../static/Img/img.png" width="200" height="150" alt=""/></a>
    </div>
    <h1>Login</h1>

    <form method="" th:action="@{/}" id="login-form">
        <input type="text" name="username" class="login-form-field" placeholder="아이디">
        <input type="password" name="password" class="login-form-field" placeholder="비밀번호">

        <label for="remember-check">
            <input type="checkbox" id="remember-check">아이디 저장
        </label>

        <div id="login-error">
            <p id="login-error-msg">아이디(로그인 전용 아이디) 또는 비밀번호를 잘못 입력했습니다.
                입력하신 내용을 다시 확인해주세요.</p>
        </div>

        <input type="submit" value="로그인" id="login-form-submit">
    </form>

    <div>
        <a target="_blank" href="" class="join-membership">회원가입</a>
    </div>

</main>
</body>

</html>
