<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인화면</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- header 에서 사용된 파일 -->
    <link rel="stylesheet" th:href="@{/css/mainScreen.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{/js/modal.js}"></script>
</head>
<body>

<!-- Header Fragment 포함 -->
<div th:replace="header :: headerFragment"></div>

<!-- 모달창 Fragment 포함 -->
<div th:replace="header :: modalFragment"></div>

<main>
    <!-- 베너 시작 -->
    <section class="banner">
        <div class="home-text">
            <h1>"혼자 먹는 즐거움"</h1>
            <p> 혼밥은 1인분이요~</p>
        </div>
        <div class="home-img">
            <img th:src="@{/Img/img_6.png}" alt="">
        </div>
    </section>
    <!-- 베너 완료 -->

</main>
</body>