<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인화면</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mainScreen.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <script src="../static/js/modal.js"></script>
</head>
<body>

<!--js로 header 로고 & nav 부분 연결-->
<header id="header">
    <script src="../static/js/header.js"></script>
</header>
<!--js로 header 로고 & nav 부분 연결 완료-->

<main>
<!-- 베너 시작 -->
    <section class="banner">
        <div class="home-text">
            <h1>"혼자 먹는 즐거움"</h1>
            <p> 혼밥은 1인분이요~</p>
        </div>
        <div class="home-img">
            <img src="../static/Img/img_6.png" alt="">
        </div>
    </section>
<!-- 베너 완료 -->

</main>
</body>
</html>