<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/myInformation.css}">
    <!-- header 에서 사용된 파일 -->
    <link rel="stylesheet" th:href="@{/css/mainScreen.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/myInformaiton.js}"></script>
    <title>내정보</title>
</head>

<!-- Header Fragment 포함 -->
<div th:replace="header :: headerFragment"></div>

<!-- 모달창 Fragment 포함 -->
<div th:replace="header :: modalFragment"></div>

<body>
<main>
    <!--계정 정보 시작-->
    <div id = "informationBlock" style="display: inline-block">
    <form th:action="@{/}" id="myInformation">
        <div class="title">
            <img th:src="@{/Img/img_3.png}" alt="">
            <h1>계정 정보</h1>
        </div>
        <div class="information">
            <p>아이디 <input type="text" name="id" th:value="${user.userId}" readonly></p>
            <p>닉네임 <input type="text" name="nickname" th:value="${user.nickname}" readonly></p>
            <p>등급
                <input type="text" name="author" readonly
                       th:if="${user.author == 1}" th:value="'쌀밥'" />
                <input type="text" name="author" readonly
                       th:if="${user.author == 2}" th:value="'간장계란밥'" />
                <input type="text" name="author" readonly
                       th:if="${user.author == 3}" th:value="'오므라이스'" />
                <input type="text" name="author" readonly
                       th:if="${user.author == 4}" th:value="'수저'" />
            </p>


            <p>비밀번호 <input type="password" name="password" th:value="${user.password}"></p>
        </div>
        <div class="btn-changes">
            <button class="" type="submit">변경사항 저장</button>
        </div>
    </form>
    <form action="/delete-account" method="post" class="deleteAccount" onsubmit="return confirmDelete();">
        <button class="btn-submit" type="submit">회원 탈퇴</button>
    </form>
        <!--계정 정보 완료-->
    </div>
</main>
</body>
</html>