<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myInformation.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <script src="../static/js/modal.js"></script>
    <title>내정보</title>
</head>

<!--js로 header 로고 & nav 부분 연결-->
<header id="header">
    <script src="../static/js/header.js"></script>
</header>
<!--js로 header 로고 & nav 부분 연결 완료-->

<body>
<main>
<!--계정 정보 시작-->
    <form th:action="@{/}" id="myInformation">
        <div class="title">
            <img src="../static/Img/img_3.png" alt="">
            <h1>계정 정보</h1>
        </div>
        <div class="information">
            <p>아이디 <input type="text" name="id"></p>
            <p>닉네임 <input type="text" name="nickname"></p>
            <p>등급   <input type="text" name="grade"></p>
            <p>비밀번호 <input type="password" name="password"></p>
        </div>

        <div class="btn-changesSubmit">
            <button class="" type="submit">변경사항 저장</button>
            <button class="" type="submit">계정 탈퇴</button>
        </div>
<!--계정 정보 완료-->
    </form>
</main>
</body>
</html>