<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 가입</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <style>
    .gradient-custom {
      background: linear-gradient(to right, rgba(254, 238, 229, 1), rgba(229, 193, 197, 1))
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function (){
      document.getElementById('cp').addEventListener('keyup', function (event){
        var password = document.getElementById('password').value;
        var cp = document.getElementById('cp').value;
        var error = document.getElementById('error');

        if (password === cp){
          error.textContent = '비밀번호 일치함';
          error.style.color = 'green';
        }
        else{
          error.textContent = '비밀번호 일치하지 않음.';
          error.style.color = 'red';
        }
      });
    });
  </script>



</head>
<body class="gradient-custom">
<section class="d-flex vh-100">
  <div class="container-fluid row justify-content-center align-content-center">
    <div class="card bg-dark" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">
        <h2 class="text-white">SIGN UP</h2>
        <p class="text-white-50 mt-2 mb-5">서비스 사용을 위한 회원 가입</p>

        <div class = "mb-2">
          <form th:action="@{/user}" method="POST">
            <!-- 토큰을 추가하여 CSRF 공격 방지 -->
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <div class="mb-3">
              <label class="form-label text-white">User ID</label>
              <input type="text" class="form-control" id="userId" name="userId">
              <button type="button" class="btn btn-info" onclick="checkDuplicate('userId')">중복 확인</button>
              <div id="userIdCheckResult"></div>
            </div>
            <div class="mb-3">
              <label class="form-label text-white">Nickname</label>
              <input type="text" class="form-control" id="nickname" name="nickname">
              <button type="button" class="btn btn-info" onclick="checkDuplicate('nickname')">중복 확인</button>
              <div id="nicknameCheckResult"></div>
            </div>
            <div class="mb-3">
              <label class="form-label text-white">Password</label>
              <input type="password" class="form-control" id="password" name="password">

            </div>

            <div class="mb-3">
              <label class="form-label text-white">Confirm Password</label>
              <input type="password" class="form-control" id="cp">
              <div id="error" class="text-danger"></div>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
